@{
    ViewData["Title"] = "Home Page";
}

<h1>Hello</h1>
<h3>@ViewData["Message"]</h3>

<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $.get("/Login/Token", function (data, status) {
        console.log("Data: " + data + "\nStatus: " + status);
    });

</script>